body,
html {
  background: #01579B
}

#header,
header.global {
  width: 100%;
  box-sizing: border-box
}

#header,
.nav-avatar,
.navbar-menu>li>a,
header.global,
nav#button-profile {
  box-sizing: border-box
}

.navbar,
.navbar-right {
  overflow: visible
}

.navbar-menu>li,
.search-form {
  animation: drop-fade-in .5s both
}

.nav>li,
.pagination>li {
  list-style-type: none
}

html {
  font: normal normal normal 16px/150% Roboto, "Myriad Set Pro", 'PingFang SC', 'Helvetica Neue', Helvetica, "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, STHeitiSC-Light, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: ltr;
  color: #37474F
}

body {
  margin: 0;
  position: relative;
  min-height: 100vh;
  font-size: 1rem
}

header.global {
  position: relative;
  height: 5rem;
  padding: 1rem 0;
  margin-bottom: 3rem;
  background-color: #01579B;
  z-index: 100000
}

.logo-primary {
  display: block;
  height: 3rem
}

#header {
  position: absolute;
  margin: 0;
  top: 5rem;
  height: 3rem;
  padding: 0;
  z-index: 10000;
  box-shadow: 0 .05rem .2rem rgba(0, 0, 0, .3);
  background-color: #FFF;
  transition: box-shadow .3s
}

#header.lockonhead.fixed {
  position: fixed;
  top: 0;
  box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .2)
}

#body,
.container,
section {
  position: relative
}

.navbar-left {
  float: left;
  width: 60%;
  padding: 0;
  margin: 0
}

.navbar-right {
  float: right;
  margin: 0 1rem 0 0;
  padding: 0
}

.navbar-menu {
  display: inline-flex;
  padding: 0;
  width: 100%;
  font-size: .9rem;
  line-height: 3rem
}

.navbar-menu>li {
  flex-grow: 1;
  height: 3rem
}

.search-form {
  animation-delay: .9s
}

.navbar-menu>li:nth-child(1) {
  animation-delay: .3s
}

.navbar-menu>li:nth-child(2) {
  animation-delay: .4s
}

.navbar-menu>li:nth-child(3) {
  animation-delay: .5s
}

.navbar-menu>li:nth-child(4) {
  animation-delay: .6s
}

.navbar-menu>li:nth-child(5) {
  animation-delay: .7s
}

.navbar-menu>li:nth-child(6) {
  animation-delay: .8s
}

.navbar-menu>li>a {
  font-weight: 400;
  width: 100%;
  height: 100%;
  display: inline-block;
  text-align: center
}

.button,
a,
button,
code {
  font-weight: 700
}

nav#button-left:after,
nav#button-left:before,
nav#button-right:before {
  width: 2rem;
  background: #fff;
  left: .5rem;
  content: ""
}

nav#button-left,
nav#button-profile,
nav#button-right {
  position: absolute;
  height: 3rem;
  top: 0;
  cursor: pointer
}

.navbar-menu>li>a.active,
.navbar-menu>li>a:hover {
  border-bottom: .3rem solid #01579B
}

nav#button-left {
  display: none;
  width: 3rem;
  left: 1rem
}

nav#button-left:after,
nav#button-left:before {
  position: absolute;
  height: .4rem;
  top: 1.3rem;
  border-radius: .2rem;
  transform: translate(0, -.5rem);
  transition: transform .3s;
  box-shadow: 0 .05rem .2rem rgba(0, 0, 0, .3)
}

.login-area,
.nav-avatar {
  box-shadow: 0 .05rem 3rem rgba(0, 0, 0, .3)
}

nav#button-left:after {
  transform: translate(0, .5rem)
}

nav#button-left.show:before {
  transform: rotate(225deg)
}

nav#button-left.show:after {
  transform: rotate(135deg)
}

nav#button-right {
  width: 3rem;
  right: 1rem
}

nav#button-right:before {
  position: absolute;
  height: 2rem;
  top: .5rem;
  border-radius: 1rem 1rem 0 0;
  transform: scale(1, .35) translate(0, 1.6rem);
  transition: transform .3s, border-radius .3s
}

nav#button-right:after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: #FFF;
  top: 1rem;
  left: 1rem;
  border-radius: .5rem;
  transform: translate(0, -.5rem);
  transition: transform .3s, background-color .3s
}

nav#button-right.show:before {
  transform: translate(0, 0);
  border-radius: 1rem
}

nav#button-right.show:after {
  transform: translate(0, 0);
  background-color: #01579B
}

#footer,
.login-area {
  background: #FFF;
  text-align: center
}

#login-wrapper {
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: rgba(255, 255, 255, .8);
  transition: opacity .3s
}

.login-area {
  width: 25%;
  min-width: 16rem;
  min-height: 20rem;
  margin: 5rem auto 0;
  padding: 1rem
}

nav#button-profile {
  width: 3rem;
  right: 1rem;
  padding: .5rem
}

.nav-avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  background-color: #FFF;
  border: .2rem solid #b0bec5
}

#footer,
section {
  box-shadow: 0 .05rem .2rem rgba(0, 0, 0, .3);
  box-sizing: border-box
}

#body {
  background-color: #FAFAFA;
  padding: 2rem 0;
  min-height: calc(100vh - 25rem)
}

#footer {
  width: 100%;
  height: 7rem;
  padding: 1rem 0
}

.pageinfo,
.poweredby {
  padding: .5rem 0
}

#footer p {
  margin: 0
}

.footer-brand.lightlink {
  width: 4rem;
  height: 4rem;
  display: inline-block;
  font-size: 1.2rem;
  white-space: nowrap;
  letter-spacing: -.6rem;
  color: transparent;
  transition: color .3s, letter-spacing .3s, transform .3s
}

.footer-brand>img {
  height: 100%;
  box-sizing: border-box;
  vertical-align: middle
}

footer.global {
  width: 100%;
  height: 6rem;
  background: #01579B;
  font-size: .8rem;
  text-align: center;
  color: #FFF
}

.poweredby {
  height: 6rem;
  box-sizing: border-box;
  text-align: center;
}

.poweredby>p>span {
  display: inline-block;
}


.pageinfo>p {
  margin: .5rem 0
}

.container {
  width: 100%;
  max-width: 60rem;
  padding: 0 1rem;
  margin: 0 auto;
  box-sizing: border-box
}

.lazyload {
  opacity: 0;
  transform: scale(1.1, 1.1);
  transition: opacity .5s, transform .5s
}

.lazyload.show,
img.lazyload {
  transform: none
}

.lazyload.show {
  opacity: 1
}

section {
  background-color: #FFF;
  padding: 1rem;
  margin-bottom: 2rem;
  overflow: hidden;
  border-radius: .1rem
}

pre,
pre>code {
  overflow: auto
}

section.main {
  padding: 1rem 2rem;
  width: 100%
}

.content.main {
  width: 100%;
  box-sizing: border-box
}

hr {
  width: 100%;
  margin: 1rem 0;
  border: none;
  border-bottom: 1px solid #CFD8DC
}

hr.full:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid #CFD8DC
}

aside {
  width: 14rem;
  margin-right: 2rem
}

a {
  text-decoration: none;
  color: #01579B;
  transition: color .3s, background-color .3s
}

a.lightlink {
  color: #546E7A;
  font-weight: 400
}

a:hover {
  color: #039BE5
}

a.lightlink:hover {
  color: #263238
}

img {
  max-width: 100%
}

.content-text>p>img {
  vertical-align: middle
}

.content-text>p>span.image-caption {
  width: 100%;
  display: block;
  text-align: center;
  font-size: .9rem
}

input {
  border: 1px solid #E7E7E7;
  transition: border-color .3s
}

input:focus {
  border-color: #607D8B
}

input:invalid {
  box-shadow: none
}

.pagination {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  padding: 0
}

.pagination>li {
  display: inline;
  margin: 0 .5rem
}

.button,
button {
  display: inline-block;
  border: none;
  padding: .5rem 1rem;
  font-size: .9rem;
  border-radius: .1rem;
  box-shadow: 0 .05rem .2rem rgba(0, 0, 0, .3);
  transition: box-shadow .3s;
  background: #FFF;
  color: #546E7A;
  outline-width: 0;
  cursor: pointer;
  margin: 0 1rem 1rem
}

h1,
h2,
h3 {
  margin-top: 0;
  line-height: 150%
}

button.float-right {
  margin-right: 0
}

.button:hover,
button:hover {
  box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .5);
  color: #37474f
}

.button[disabled],
button[disabled] {
  opacity: .6;
  color: #546E7A;
  box-shadow: 0 0 .2rem rgba(0, 0, 0, .2)
}

input:disabled {
  opacity: .6
}

.middle {
  text-align: center
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem
}

h2 {
  font-size: 1.2rem
}

h3 {
  font-size: 1rem
}

code,
pre {
  font-size: .9rem;
  line-height: 1rem
}

h2,
h3 {
  margin-bottom: .5rem
}

img.full {
  width: 100%
}

ol,
ul {
  padding-left: 2rem
}

blockquote {
  margin: 0 2rem;
  font-style: italic;
  color: #607D8B
}

pre {
  border: 1px solid #cfd8dc;
  border-radius: .1rem;
  position: relative;
  padding: 4px 0 4px 1.45rem;
  background: #f7f7f7
}

code {
  font-family: monaco, consolas, Monospace;
  padding: .2rem;
  color: #f06292;
  background-color: rgba(233, 235, 236, .5);
  border-radius: .1rem
}

pre>code {
  color: #607D8B;
  font-weight: 400;
  background: 0 0;
  padding: 4px;
  max-height: 20rem
}

.code-hidden,
pre>div {
  display: none
}

:focus {
  outline: 0
}

.fade-in {
  animation: fade-in .5s both
}

.float-right {
  float: right
}

.float-left {
  float: left
}

@keyframes fade-in {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes drop-fade-in {
  from {
    transform: scale(1.2, 1.2);
    opacity: 0
  }
  to {
    transform: none;
    opacity: 1
  }
}